@using OnlineCourseManagementSystem.Web.ViewModels.Subjects
@model SubjectInputModel
@{ 
    this.ViewData["Title"] = "Create Subject";
}

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <form action="/" method="post"></form>
    </div>
    <div class="col-md-3">

    </div>
</div>
