@using OnlineCourseManagementSystem.Web.ViewModels.Assignments
@model EditAssignmentInputModel
@{
    this.ViewData["Title"] = "Edit Assignment";
}
<h1 class="text-center my-5">Edit Assignment</h1>

<form asp-controller="Assignments" asp-action="Edit" asp-route-assignmentId="@this.Model.AssignmentId" asp-route-courseId="@this.Model.CourseId" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="All" class="alert-danger"></div>

    <div class="form-group">
        <label asp-for="Title"></label>
        <textarea asp-for="Title" class="form-control"></textarea>
        <span asp-validation-for="Title" class="alert-danger"></span>
    </div>

    <div class="form-group my-2">
        <label asp-for="Instructions"></label>
        
        <textarea class="form-control" asp-for="Instructions"></textarea>
        <span asp-validation-for="Instructions" class="alert-danger"></span>
    </div>
    
    <div class="form-group my-2">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="alert-danger"></span>
    </div>
    
    <div class="form-group my-2">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="alert-danger"></span>
    </div>

    <div class="form-group my-2">
        <label asp-for="PossiblePoints"> </label>
        <input asp-for="PossiblePoints" class="form-control" />
    </div>
    
    <div class="my-2">
        <button class="btn btn-info form-control">Edit Assignment</button>
    </div>
</form>