@using OnlineCourseManagementSystem.Web.ViewModels.Modules
@{ 
    this.ViewData["Title"] = "Module";
}

<div class="d-flex justify-content-center align-items-center">
    <h1>This page is in proccess of making.</h1>
</div>
