/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */


html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #1e3e63;
    min-height: 80vh;
    scroll-behavior: smooth;
    background-image: url("/Images/banner.png") !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

ul li {
    padding: 0;
    margin: 0;
    line-height:22px;
}

ul a {
    padding: 2px;
    display: block;
}

/*label {
    color:aliceblue
}*/

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

#page-content-wrapper {
    min-width: 90vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

#mydiv {
    position: absolute;
    z-index: 9;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
}


.img-link{
    width: 100px;
    height: 100px;
    opacity: 0.7;

}

.link-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 10px;
    position: relative;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.link-container:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.link{
    color:#ff6a00;
}

.svg:hover{
    cursor: pointer;
    
}

#create-text {
    display: none;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.index-container{
    display: inline-flex;
}

a:hover{
    text-decoration: none;
}

.link-container:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: transform 150ms;
}

.container-image{
    display: flex;
    padding: 0.60rem;
    justify-content: center;
    
}

.image {
    height: inherit;
    width: inherit;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}


    .image:hover {
        opacity: 0.7;
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    height:100%;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.folder-container {
    background: #fff;
    padding: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 10px;
    box-shadow: 0 0 30px #cbc6c6;
}

.folder-container:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: transform 150ms;
}

#btn-scrollTop {
    background-color:grey;
    border-radius: 50px;
    z-index: 9;
    padding: 0.30rem;
    bottom: 30px;
    right: 30px;
    position: fixed;
    display: none;
}

.img-scrollUp{
   width: 70px;
   height: 70px;
}

#btn-scrollTop:hover {
    transform: scale(1.03);
    transition: transform 150ms;
    cursor: pointer;
}

.form-album-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
}



#modal-content{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #fcb25c;
    z-index: 9;
    padding: 5rem;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#btn-close{
    top: 30px;
    position: absolute;
    right: 30px;
    padding: 0.5rem;
    background: #808080;
    border-radius: 10px;
}

#btn-form-album:hover {
    transform: scale(1.03);
    transition: transform 150ms;
    cursor: pointer;
}

#btn-form-album {
    background-color: azure;
    margin-left: 10px;
}


.file{
    padding: 0.5rem;
    width: 40rem;
    background-color:aliceblue;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.file:hover{
    cursor:pointer;
}

.file-iframe{
    width: 300px;
    height: 300px;
}

/*Assignments*/

.assignments-container{
    display: flex;
    overflow-x:hidden;
    overflow-y:scroll;
}

    .assignments-container::-webkit-scrollbar {
        width: 10px;
    }

    .assignments-container::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    .assignments-container::-webkit-scrollbar-thumb {
        background-color: orange;
        border-radius: 10px;
    }

.assignment{
}

.assignment:hover{
    cursor:pointer;
}

    

.lecture-assignment {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    background: #ffffff;
    display: flex;
    position: relative;
    flex-direction: row;
    box-shadow: 0 0 30px #cbc6c6;
}

.lecture-assignment:hover{
    cursor: pointer;
}

.lecture-assignment-info-container{
    flex-direction: column;
    display: flex;
    margin-left: 20px; 
}

.files-container{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
    width: 85%;
    height: 85%;
}

.edit-container{
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 2rem;
    position: static;
}

@media (min-width: 768px) {
    .lecture-assignment-info-container {
        flex-direction: row;
    }
}

.mark-user-assignment{
    display: flex;
    height: 100vh;
}

.sidebar-assignemt-info {
    width:inherit;
    height:inherit;
    width: 35%;
    height: 100%;
    color: white;
    background: #42a5f5;
}
.file-display-container {
    width: inherit;
    height: inherit;
    width: 80%;
    height: 70%;
    background: #9e9c9c;
    border: solid 5px #868686;
    display: flex;
    justify-content:center;
    align-items:center;
}

.green-circle-icon {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: green;
}

.red-circle-icon {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: red;
}

.file-container {
    background: #6C6F74;
    color: white;
    margin: 5px;
    border-radius: 5px;
    padding: 0.45rem;
}

.file-container:hover{
    cursor:pointer;
    transform: scale(1.03);
    transition: transform 350ms;
}

.assignment-files-container{
    background:white;
    overflow-y:scroll;
    overflow-x:hidden;
    height: 20%;
}

    .assignment-files-container::-webkit-scrollbar {
        width: 10px;
    }

    .assignment-files-container::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    .assignment-files-container::-webkit-scrollbar-thumb {
        background-color: lightslategrey;
        border-radius: 10px;
    }

.instruction-filed {
    width: 100%;
    word-break: break-all;
    height: 15%;
    overflow-y:scroll;
    overflow-x:hidden;
}

    .instruction-filed::-webkit-scrollbar {
        width: 10px;
    }

    .instruction-filed::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    .instruction-filed::-webkit-scrollbar-thumb {
        background-color: lightslategrey;
        border-radius: 10px;
    }
/*Styles used through all the pages*/
/*Title for the pages*/
.title {
    color: #ff6a00;
    background: #ffffff;
    margin: 6rem;
    border-radius: 10px;
    position: center;
    display: flex;
    justify-content: center;
    color: #ff6a00;
    align-items: center;
}

.btn-delete {
    display: flex;
    background: #ff0000;
    padding: 0.80rem;
    justify-content: center;
    align-items: center;
    color: black;
}

.flex-item{
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
}

.flex-item>div{
    border: 1px solid black;
    flex: 1 1 auto;
}

.modify-options{
    display: flex;
    flex-direction: row;
    margin-inline: 1rem;
    padding: 1rem;
    border: 1px;
    box-sizing: border-box;
}


.myHeading {
    padding: 1rem;
    color: white;
    background: linear-gradient(to top right, #7E0F4B, #1A5865 );
    margin-bottom:3rem;
}

.btn-link {
    color: #343a40;
    align-content: center;
    font-size: 20px;
    text-decoration: none;
    background: #d6d6d6;
    padding: 3.5px;
    border-radius: 3px;
}

form.hide-submit input[type="submit"] {
    display: none;
}

.default-open-view {
    background: #f8f9fa;
    color: #adb5bd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 5rem;
}

.info-container {
    position: absolute;
    width: 20rem;
    height: 15rem;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
    right: 30%;
}

    .info-container::-webkit-scrollbar {
        width: 5px;
    }

    .info-container::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    .info-container::-webkit-scrollbar-thumb {
        background-color: #2196f3;
        border-radius: 10px;
        width: 5px;
    }

.show-info-container {
    display: block;
    animation: wrapContent 1s ease-in-out 1 normal;
}

.unshow-info-container {
    display: none;
    animation: unwrapContent 1s ease-out 1 normal;
}

@keyframes wrapContent {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 100px;
        opacity: 1;
    }
}

@keyframes unwrapContent {
    from {
        height: 100px;
        opacity: 1;
    }

    to {
        height: 0px;
        opacity: 0;
    }
}

.svg-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 350ms;
}

.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: .6s ease;
    border-radius: 10px 0 0 10px;
    user-select: none
}

.next {
    right: 0;
    border-radius: 0 10px 10px 0;
}

    .prev:hover, .next:hover {
        background-color: #adb5bd;
    }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width:300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

#allcourses {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

    #allcourses::-webkit-scrollbar {
        width: 5px;
    }

    #allcourses::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    #allcourses::-webkit-scrollbar-thumb {
        background-color: #2196f3;
        border-radius: 10px;
        width: 5px;
    }
.breadcrumb-item a{
    color: #18BC9C;
}