@using OnlineCourseManagementSystem.Web.ViewModels.Files
@model AllImagesViewModel
@{
    this.ViewData["Title"] = "Images";
}
<h1 class="card-title">
    Album: @Model.AlbumName
</h1>

<div>
    @await Html.PartialAsync("_PartialAddImages", new UploadImageInputModel { AlbumId = Model.AlbumId })
</div>

<pre class="tab"></pre>
<pre class="tab"></pre>

<div class="row">
    @foreach (var image in this.Model.Images)
    {
        <div class="container-image col-md-4">
            <img  src="@image.ImageUrl" alt="Image" class="image" />
            <div class="card-body">
                <div class="row">

                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">

                        <form asp-controller="Files" asp-action="DeleteImage" asp-route-id="@image.ImageId" method="post">
                            <button class="btn  btn-delete">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <pre class="tab"></pre>
    }
</div>