@using Microsoft.AspNetCore.Identity
@using OnlineCourseManagementSystem.Data.Models
@using OnlineCourseManagementSystem.Web.Views.Shared.Components
@inject UserManager<ApplicationUser> userManager
@{
    ApplicationUser user = await this.userManager.GetUserAsync(this.User);
    string userFullName = $"{user.FirstName} {user.LastName}";
}


<style>
    body {
        background-color: lightgray;
    }
</style>

<body>
    <component type="typeof(Chats)" render-mode="ServerPrerendered" param-UserId="user.Id" param-UserFullName="userFullName" />
</body>

<script>
    function showDropdown() {
        
                document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
   
</script>