@using OnlineCourseManagementSystem.Web.ViewModels.Albums
@model AllAlbumsViewModel
@{
    this.ViewData["Title"] = "Album";
}

<div class="album-container">
    <h1 class="title">Gallery</h1>
    @if (this.TempData.ContainsKey("AlbumExist"))
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @this.TempData["AlbumExist"]
        </div>
    }

<div style="display: flex; flex-direction: row; margin-bottom: 1rem;">
    <h3>Add Album</h3>
    <button type="button" class="btn" style="background-color: azure ;margin-left: 10px; " data-bs-toggle="modal" data-bs-target="#addAlbumModal">
        <img src="~/icons/square_add.png" style="max-width: 30px; max-height: 30px" alt="Btn open modal" />
    </button>
</div>
    <div class="row">
        @foreach (var album in this.Model.Albums)
        {
            <a class="text-center folder-container col-md-2" style="color: black;" asp-controller="Files" asp-action="AllImages" asp-route-id="@album.AlbumId">
                <img src="~/icons/folder_ok.png" alt="Folder" />
                @album.Name
            </a>
        }
    </div>

</div>

<div class="modal fade" id="addAlbumModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addAlbumModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAlbumModal">Add Album</h5>
                <p class="text-success" style="background: #e7e7e7; display: flex; border-radius: 5px">Here using the button create,you can create album and add it to your gallery</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Albums" asp-action="CreateAlbum" method="post" class="form-album-container">
                    <div>
                        <label class="h3" style="color: black" asp-for="InputModel.Name"></label>
                        <input asp-for="InputModel.Name" />
                        <span asp-validation-for="InputModel.Name" class="alert-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary">
                    Create
                </button>
            </div>
        </div>
    </div>
</div>
