@{
    this.ViewData["Title"] = "About";
}
<style>
    p{
        color:white !important;
    }

    h2 {
        color: dodgerblue;
    }

    .svg {
        color: deepskyblue;
        margin-bottom: 10px;
    }

    .section {
        height: 50vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .adjust-size {
        width: 400px;
        height: 464px;
    }

    hr{
        font-size: 8px;
    }
</style>
<div class="mb-5 rounded-3 position-relative d-flex justify-content-center align-items-center">
    <div class="my-5">
        <hr  />
        <h1 class="text-center">ABOUT US</h1>
        <hr />
    </div>
</div>



<div class="mb-4  d-flex justify-content-center align-items-center">
    <div>
        <div class="d-md-flex mx-2">
            <div class="mx-2 card adjust-size" style="background-color:goldenrod;">
                <div class="card-header">
                    <h2 class="text-white">History</h2>
                </div>
                <div class="card-body">
                    <p>
                        The Project “OMCS” first started as an idea in the
                        late April 2021. We thought of creating our own system
                        that can manage the same connection between students and
                        lecturers and offer them way of learning and teaching.
                    </p>
                </div>
            </div>
            <div class="mx-2 card adjust-size" style="background-color:dodgerblue;">
                <div class="card-header">
                    <h2 class="text-white">What makes our system so special</h2>
                </div>
                <div class="card-body">
                    <p>
                        Our system has a great program of teaching people.
                        Allows people easy to use it and easy to learn from it.
                        We make people feel connected with others and while in the
                        same moment we prepare them and give them skills in the certain sphere.
                    </p>
                    <p>
                        We offer communication video conference meetings/ chat system,
                        managing courses with assignments, courses include lectures,
                        live FAQ, upcoming events, forum, album and a lot more to add
                        to the collection.
                    </p>
                </div>
            </div>
        </div>
        <div class="d-md-flex mx-2">
            <div class="mx-2 card adjust-size" style="background-color:darkgray">
                <div class="card-header">
                    <h2 class="text-white">Core values and belief</h2>
                </div>
                <div class="card-body">
                    <p>
                        The core values are teaching, preparing, connecting
                        and helping people. We want the best for our students.
                        We believe that we manage to have everything necessary
                        to have one good managed system.
                    </p>
                </div>
            </div>

            <div class="mx-2  card adjust-size" style="background-color:red;">
                <div class="card-header">
                    <h2 class="text-white">Why us?</h2>
                </div>
                <div class="card-body ">
                    <p>
                        We have great quality of teaching in OMCS and it is guaranteed
                        from our teaching staff, who consists from one of the best lecturers
                        and trainers in every sphere.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=mx-5>
    <hr style="color:dodgerblue;" />
    <h1 class="text-center">Team</h1>
    <hr style="color:dodgerblue;" />
</div>


<div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
    <div class="card mx-2" style="width:300px;height:350px;">
        <div class="card-header d-flex flex-column justify-content-center align-items-sm-center">
            <img height="100" width="100" src="/Team-img/Stefko.jpg" class="rounded-circle" alt="Alternate Text" />
            <h3>Stefko Tsonyvski</h3>
            <p>
                <a href="https://www.facebook.com/profile.php?id=100007154386033" class="mr-3">
                    <i class="fa fa-facebook px-2 rounded-circle btn-link"></i>
                </a>
                <a href="https://www.instagram.com/stefkotsonovski/" class="mr-3">
                    <i class="fa fa-instagram btn-link"></i>
                </a>
                <a href="https://github.com/stefkonoisyboy">
                    <i class="fa fa-github rounded-circle btn-link"></i>
                </a>
            </p>
        </div>
        <div class="card-body">
            <p class="text-center" style="color:black !important;">
                He is one of our leading faces in the software industry.
                Very passionate with his work.
                Ex-Google, Ex-Facebook engineer.
            </p>
        </div>
    </div>
    <div class="card mx-2" style="width:300px;height:350px;">
        <div class="card-header d-flex flex-column justify-content-center align-items-sm-center">
            <img height="100" width="100" src="/Team-img/Miro.jpg" class="rounded-circle" alt="Alternate Text" />
            <h3>Miroslav Uzunov</h3>
            <p>
                <a href="https://www.facebook.com/miroslav.uzunov.31/" class="mr-3">
                    <i class="fa fa-facebook px-2 rounded-circle btn-link"></i>
                </a>
                <a href="https://www.instagram.com/miroslav5907/" class="mr-3">
                    <i class="fa fa-instagram btn-link"></i>
                </a>
                <a href="https://github.com/CodingWebDeveloper">
                    <i class="fa fa-github rounded-circle btn-link"></i>
                </a>
            </p>
        </div>
        <div class="card-body">
            <p class="text-center" style="color:black !important;">
                He is one of the greatest minds in the software history.
                Ex-Google, Ex-Facebook engineer.
            </p>
        </div>
    </div>
</div>
