@using OnlineCourseManagementSystem.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert-success">
        @this.TempData["Message"]
    </div>
}

<a class=" btn btn-info rounded h3" asp-controller="File" asp-action="AllImages">
    Gallery
</a>

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
