@model OnlineCourseManagementSystem.Web.ViewModels.Channels.UserIdViewModel
@using Microsoft.AspNetCore.Identity
@using OnlineCourseManagementSystem.Data.Models
@using OnlineCourseManagementSystem.Web.Views.Shared.Components
@using System.Security.Claims 
@inject UserManager<ApplicationUser> userManager
@{
    ApplicationUser user = await this.userManager.GetUserAsync(this.User);
}

<body class="bg-light">
    <component type="typeof(Events)" render-mode="ServerPrerendered" param-UserId="user.Id"/>
</body>