@model OnlineCourseManagementSystem.Web.ViewModels.Courses.EditCourseInputModel
@{
    this.ViewData["Title"] = "Edit a Course";
}

<h3>@this.ViewData["Title"]</h3>
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="alert-danger"></div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SubjectId">Subject</label>
        <select asp-for="SubjectId" asp-items="@this.Model.SubjectsItems" class="form-control"></select>
        <span asp-validation-for="SubjectId" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="alert-danger"></span>
    </div>

    <input type="hidden" asp-for="Id" />

    <input type="submit" value="Submit" class="btn btn-primary" />
</form>