@using OnlineCourseManagementSystem.Web.ViewModels.Files
@model FilesToAssignmentInputModel
<form asp-controller="Assignment" asp-action="TurnIn" method="post" enctype="multipart/form-data">
    <input id="addFiles" type="file" multiple class="form-control" />
    <div>
        <button class="btn rounded-pill" style="color:darkorange;background:#ffffff">Turn In</button>
    </div>
</form>