@using OnlineCourseManagementSystem.Web.ViewModels.Files
@model UploadImageInputModel

<h3>Add Image</h3>
<form asp-controller="Files" asp-action="AddImageToGallery" asp-route-id="@Model.AlbumId" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4" style="margin-bottom: 1rem">
            <input asp-for="Images" type="file" class="form-control" multiple>
        </div>
        <div class="col-md-4">
            <input  class="form-control" type="submit">
        </div>
    </div>
</form>

