@using OnlineCourseManagementSystem.Web.ViewModels.Posts
@model EditPostInputModel
@{
    this.TempData["Title"] = "Edit Post";
}

<h1 class="text-center">Edit Post</h1>

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

<form asp-controller="Posts" asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" placeholder="Enter the Title of the Post" />
        <span class="alert-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content"> </label>
        <textarea asp-for="Content" class="form-control" rows="12"></textarea>
        <span asp-validation-for="Content" class="alert-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CourseId"></label>
        <select asp-items="@this.Model.CourseItems" class="form-control" id="CourseId" asp-for="CourseId">
        </select>
        <span asp-validation-for="CourseId" class="alert-danger"></span>
    </div>
    <button class="btn btn-info">Edit Post</button>
</form>
