@using OnlineCourseManagementSystem.Web.ViewModels.Comments
@model CreateCommentInputModel
@{
    this.TempData["Title"] = "Add Comment";
}
<h1 class="title" style="color: #ff6a00;background:#ffffff">Add Comment</h1>
<pre class="tab"></pre>
<pre class="tab"></pre>
    <form asp-controller="Comments" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Content"></label>
            <textarea asp-for="Content" placeholder="Enter the comment" class="form-control"></textarea>
            <span asp-validation-for="Content"></span>
        </div>
        <pre class="tab"></pre>
        <div class="form-group">
            <button class="btn btn-info">Create Comment</button>
        </div>
    </form> 
